doc/opencost_types.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://opencost.de"
xmlns="https://opencost.de"
elementFormDefault="qualified">

<xs:complexType name="data_type">
  <xs:choice maxOccurs="unbounded">
    <xs:element name="publication" type="publication_type" maxOccurs="unbounded" />
    <xs:element name="contract" type="contract_type" maxOccurs="unbounded" />
  </xs:choice>
</xs:complexType>

<xs:complexType name="publication_type">
  <xs:all>
    <xs:element name="primary_identifier" type="publication_primary_identifier" />
    <xs:element name="secondary_identifiers" type="publication_secondary_identifiers" minOccurs="0" />
    <xs:element name="institution" type="institution_type" />
    <xs:element name="publication_type" type="coar_publication_type" />
    <xs:element name="external_costsplitting" type="xs:boolean" minOccurs="0" />
    <xs:element name="cost_data" type="publication_cost_data_type" />
  </xs:all>
</xs:complexType>

<xs:complexType name="contract_type">
  <xs:all>
    <xs:element name="contract_name" type="non_empty_string" />
    <xs:element name="institution" type="institution_type" />
    <xs:element name="participation" type="participation_type" />
    <xs:element name="primary_identifier" type="contract_primary_identifier_type" />
    <xs:element name="secondary_identifiers" type="contract_secondary_identifiers_type" minOccurs="0" />
    <xs:element name="cost_data" type="contract_cost_data_type"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="participation_type">
  <xs:all>
    <xs:element name="to" type="date_format" />
    <xs:element name="from" type="date_format" />
  </xs:all>
</xs:complexType>

<xs:complexType name="contract_cost_data_type">
  <xs:sequence>
    <xs:element name="invoice_group" type="contract_invoice_group_type" minOccurs="1" maxOccurs="unbounded" />
  </xs:sequence>
</xs:complexType>

<xs:complexType name="contract_invoice_group_type">
  <xs:sequence>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="invoice" type="contract_invoice_type" />
    </xs:sequence>
    <xs:choice>
      <xs:sequence>
        <xs:element name="group_id" type="non_empty_string" />
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element name="invoice" type="contract_invoice_type" />
        </xs:sequence>
        <xs:element name="invoices_period" type="contract_invoice_period_type" />
      </xs:sequence>
      <xs:sequence>
        <xs:element name="invoices_period" type="contract_invoice_period_type" />
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element name="invoice" type="contract_invoice_type" />
        </xs:sequence>
        <xs:element name="group_id" type="non_empty_string" />
      </xs:sequence>
    </xs:choice>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="invoice" type="contract_invoice_type" />
    </xs:sequence>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="contract_invoice_type">
  <xs:all>
    <xs:element name="amount_invoice" type="amount_invoice" minOccurs="0" />
    <xs:element name="invoice_number" type="non_empty_string" minOccurs="0" />
    <xs:element name="creditor" type="non_empty_string" minOccurs="0" />
    <xs:element name="dates" type="dates" />
    <xs:element name="amounts_paid">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="amount_paid" minOccurs="1" maxOccurs="unbounded" type="contract_amount_paid_type" />
        </xs:sequence>
      </xs:complexType>
    </xs:element>
  </xs:all>
</xs:complexType>

<xs:complexType name="part_of_contract_type">
  <xs:all>
    <xs:element name="group_id" type="non_empty_string" minOccurs="0" />
    <xs:element name="primary_identifier" type="contract_primary_identifier_type" />
  </xs:all>
</xs:complexType>

<xs:complexType name="publication_cost_data_type">
  <xs:choice>
    <xs:sequence>
      <xs:element name="invoice" type="publication_invoice_type" minOccurs="1" maxOccurs="unbounded" />
      <xs:sequence minOccurs="0">
        <xs:element name="part_of_contract" type="part_of_contract_type" />
        <xs:element name="invoice" type="publication_invoice_type" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:sequence>
    <xs:sequence>
      <xs:element name="part_of_contract" type="part_of_contract_type" />
      <xs:element name="invoice" type="publication_invoice_type" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:choice>
</xs:complexType>

<xs:complexType name="publication_invoice_type">
  <xs:all>
    <xs:element name="amount_invoice" minOccurs="0" type="amount_invoice" />
    <xs:element name="invoice_number" type="non_empty_string" minOccurs="0"/>
    <xs:element name="amounts_paid">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="amount_paid" minOccurs="1" maxOccurs="unbounded" type="publication_amount_paid_type" />
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="dates" type="dates"/>
    <xs:element name="creditor" type="non_empty_string" minOccurs="0"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="publication_primary_identifier">
    <xs:choice>
        <xs:element name="doi" type="non_empty_string" />
        <xs:element name="bibliographic_information" type="bibliographic_information" />
    </xs:choice>
</xs:complexType>

<xs:complexType name="publication_secondary_identifiers">
  <xs:sequence>
    <xs:element name="id" minOccurs="1" maxOccurs="unbounded" type="publication_secondary_id_type" />
  </xs:sequence>
</xs:complexType>

<xs:simpleType name="relevant_publication_date_type">
  <xs:restriction base="xs:string">
    <xs:enumeration value="submission" />
    <xs:enumeration value="acceptance" />
    <xs:enumeration value="publication" />
    <xs:enumeration value="publication print" />
    <xs:enumeration value="publication online" />
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="contract_invoice_period_type">
  <xs:all>
    <xs:element name="from" type="date_format"/>
    <xs:element name="to" type="date_format"/>
  </xs:all>
</xs:complexType>

<xs:complexType name="contract_primary_identifier_type">
  <xs:all>
    <xs:element name="value" type="non_empty_string" />
    <xs:element name="type">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ESAC" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
  </xs:all>
</xs:complexType>

<xs:complexType name="contract_secondary_identifiers_type">
  <xs:sequence>
    <xs:element name="id" minOccurs="1" maxOccurs="unbounded" type="contract_secondary_id_type" />
  </xs:sequence>
</xs:complexType>

<xs:complexType name="contract_secondary_id_type">
  <xs:all>
    <xs:element name="value" type="non_empty_string" />
    <xs:element name="type">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="oai" />
          <xs:enumeration value="ezb" />
          <xs:enumeration value="local" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
  </xs:all>
</xs:complexType>

<xs:complexType name="publication_secondary_id_type">
  <xs:all>
    <xs:element name="value" type="non_empty_string" />
    <xs:element name="type">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="doi" />
          <xs:enumeration value="handle" />
          <xs:enumeration value="urn" />
          <xs:enumeration value="isbn" />
          <xs:enumeration value="pmid" />
          <xs:enumeration value="pmc" />
          <xs:enumeration value="arxiv" />
          <xs:enumeration value="oai" />
          <xs:enumeration value="local" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
  </xs:all>
</xs:complexType>

<xs:complexType name="bibliographic_information">
  <xs:all>
    <xs:element name="Title" type="non_empty_string" minOccurs="1" />
    <xs:element name="Publisher" type="non_empty_string" minOccurs="1" />
    <xs:element name="isPartOf" type="non_empty_string" minOccurs="1" />
  </xs:all>
</xs:complexType>

<xs:complexType name="institution_name">
  <xs:all>
    <xs:element name="value" type="non_empty_string" />
    <xs:element name="type">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="full" />
          <xs:enumeration value="short" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
  </xs:all>
</xs:complexType>

<xs:complexType name="institution_id">
  <xs:all>
    <xs:element name="value" type="non_empty_string" />
    <xs:element name="type">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ror" />
          <xs:enumeration value="isni" />
          <xs:enumeration value="ringold" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
  </xs:all>
</xs:complexType>

<xs:complexType name="institution_type">
  <xs:sequence>
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="name" type="institution_name" />
      <xs:element name="id" type="institution_id" />
    </xs:choice>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="amount_invoice">
  <xs:all>
    <xs:element name="currency" type="currency" />
    <xs:element name="amount" type="xs:decimal" />
  </xs:all>
</xs:complexType>

<xs:simpleType name="publication_cost_type">
  <xs:restriction base="xs:string">
    <xs:enumeration value="gold-oa" />
    <xs:enumeration value="vat" />
    <xs:enumeration value="colour charge" />
    <xs:enumeration value="cover charge" />
    <xs:enumeration value="hybrid-oa" />
    <xs:enumeration value="other" />
    <xs:enumeration value="page charge" />
    <xs:enumeration value="permission" />
    <xs:enumeration value="publication charge" />
    <xs:enumeration value="reprint" />
    <xs:enumeration value="submission fee" />
    <xs:enumeration value="payment fee" />
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="publication_amount_paid_type">
  <xs:all>
    <xs:element name="currency" type="currency" />
    <xs:element name="amount" type="xs:decimal" />
    <xs:element name="cost_type" type="publication_cost_type" />
    <xs:element name="vat" type="xs:decimal" minOccurs="0" />
  </xs:all>
</xs:complexType>

<xs:simpleType name="contract_cost_type">
  <xs:restriction base="xs:string">
    <xs:enumeration value="publish" />
    <xs:enumeration value="read" />
    <xs:enumeration value="publish and read" />
    <xs:enumeration value="service fee" />
    <xs:enumeration value="vat" />
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="contract_amount_paid_type">
  <xs:all>
    <xs:element name="currency" type="currency" />
    <xs:element name="amount" type="xs:decimal" />
    <xs:element name="cost_type" type="contract_cost_type" />
    <xs:element name="vat" type="xs:decimal" minOccurs="0" />
  </xs:all>
</xs:complexType>

<xs:simpleType name="currency">
  <xs:restriction base="xs:string">
    <xs:pattern value="[A-Z]{3}"/>
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="dates">
  <xs:choice>
    <xs:sequence>
     <xs:element name="invoice" type="date_format" minOccurs="1"/>
     <xs:element name="paid" type="date_format" minOccurs="0"/>
    </xs:sequence>
    <xs:sequence>
     <xs:element name="paid" type="date_format" minOccurs="1"/>
     <xs:element name="invoice" type="date_format" minOccurs="0"/>
    </xs:sequence>
  </xs:choice>
</xs:complexType>

<xs:simpleType name="date_format">
  <xs:restriction base="xs:string">
    <xs:pattern value="[0-9]{4}|[0-9]{4}-[0-9]{2}|[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="non_empty_string">
  <xs:restriction base="xs:string">
    <xs:minLength value="1"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="coar_publication_type">
  <xs:restriction base="xs:string">
    <xs:enumeration value="http://purl.org/coar/resource_type/F8RT-TJK0" />
    <xs:enumeration value="https://purl.org/coar/resource_type/F8RT-TJK0" />
    <xs:enumeration value="artistic work" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_12cc" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_12cc" />
    <xs:enumeration value="cartographic material" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_12cd" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_12cd" />
    <xs:enumeration value="map" />
    <xs:enumeration value="http://purl.org/coar/resource_type/RMP5-3GQ6" />
    <xs:enumeration value="https://purl.org/coar/resource_type/RMP5-3GQ6" />
    <xs:enumeration value="collection" />
    <xs:enumeration value="http://purl.org/coar/resource_type/YC9F-HGCF" />
    <xs:enumeration value="https://purl.org/coar/resource_type/YC9F-HGCF" />
    <xs:enumeration value="archival collection" />
    <xs:enumeration value="http://purl.org/coar/resource_type/1YTN-RJZE" />
    <xs:enumeration value="https://purl.org/coar/resource_type/1YTN-RJZE" />
    <xs:enumeration value="court documents" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_ddb1" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_ddb1" />
    <xs:enumeration value="dataset" />
    <xs:enumeration value="http://purl.org/coar/resource_type/ACF7-8YT9" />
    <xs:enumeration value="https://purl.org/coar/resource_type/ACF7-8YT9" />
    <xs:enumeration value="aggregated data" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_cb28" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_cb28" />
    <xs:enumeration value="clinical trial data" />
    <xs:enumeration value="http://purl.org/coar/resource_type/FXF3-D3G7" />
    <xs:enumeration value="https://purl.org/coar/resource_type/FXF3-D3G7" />
    <xs:enumeration value="compiled data" />
    <xs:enumeration value="http://purl.org/coar/resource_type/AM6W-6QAW" />
    <xs:enumeration value="https://purl.org/coar/resource_type/AM6W-6QAW" />
    <xs:enumeration value="encoded data" />
    <xs:enumeration value="http://purl.org/coar/resource_type/63NG-B465" />
    <xs:enumeration value="https://purl.org/coar/resource_type/63NG-B465" />
    <xs:enumeration value="experimental data" />
    <xs:enumeration value="http://purl.org/coar/resource_type/A8F1-NPV9" />
    <xs:enumeration value="https://purl.org/coar/resource_type/A8F1-NPV9" />
    <xs:enumeration value="genomic data" />
    <xs:enumeration value="http://purl.org/coar/resource_type/2H0M-X761" />
    <xs:enumeration value="https://purl.org/coar/resource_type/2H0M-X761" />
    <xs:enumeration value="geospatial data" />
    <xs:enumeration value="http://purl.org/coar/resource_type/H41Y-FW7B" />
    <xs:enumeration value="https://purl.org/coar/resource_type/H41Y-FW7B" />
    <xs:enumeration value="laboratory notebook" />
    <xs:enumeration value="http://purl.org/coar/resource_type/DD58-GFSX" />
    <xs:enumeration value="https://purl.org/coar/resource_type/DD58-GFSX" />
    <xs:enumeration value="measurement and test data" />
    <xs:enumeration value="http://purl.org/coar/resource_type/FF4C-28RK" />
    <xs:enumeration value="https://purl.org/coar/resource_type/FF4C-28RK" />
    <xs:enumeration value="observational data" />
    <xs:enumeration value="http://purl.org/coar/resource_type/CQMR-7K63" />
    <xs:enumeration value="https://purl.org/coar/resource_type/CQMR-7K63" />
    <xs:enumeration value="recorded data" />
    <xs:enumeration value="http://purl.org/coar/resource_type/W2XT-7017" />
    <xs:enumeration value="https://purl.org/coar/resource_type/W2XT-7017" />
    <xs:enumeration value="simulation data" />
    <xs:enumeration value="http://purl.org/coar/resource_type/NHD0-W6SY" />
    <xs:enumeration value="https://purl.org/coar/resource_type/NHD0-W6SY" />
    <xs:enumeration value="survey data" />
    <xs:enumeration value="http://purl.org/coar/resource_type/542X-3S04" />
    <xs:enumeration value="https://purl.org/coar/resource_type/542X-3S04" />
    <xs:enumeration value="design" />
    <xs:enumeration value="http://purl.org/coar/resource_type/JBNF-DYAD" />
    <xs:enumeration value="https://purl.org/coar/resource_type/JBNF-DYAD" />
    <xs:enumeration value="industrial design" />
    <xs:enumeration value="http://purl.org/coar/resource_type/BW7T-YM2G" />
    <xs:enumeration value="https://purl.org/coar/resource_type/BW7T-YM2G" />
    <xs:enumeration value="layout design" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_c513" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_c513" />
    <xs:enumeration value="image" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_8a7e" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_8a7e" />
    <xs:enumeration value="moving image" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_12ce" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_12ce" />
    <xs:enumeration value="video" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_ecc8" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_ecc8" />
    <xs:enumeration value="still image" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_e9a0" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_e9a0" />
    <xs:enumeration value="interactive resource" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_7ad9" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_7ad9" />
    <xs:enumeration value="website" />
    <xs:enumeration value="http://purl.org/coar/resource_type/GSZA-Y7V7" />
    <xs:enumeration value="https://purl.org/coar/resource_type/GSZA-Y7V7" />
    <xs:enumeration value="knowledge organization system" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_e059" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_e059" />
    <xs:enumeration value="learning object" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_1843" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_1843" />
    <xs:enumeration value="other" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_15cd" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_15cd" />
    <xs:enumeration value="patent" />
    <xs:enumeration value="http://purl.org/coar/resource_type/SB3Y-W4EH" />
    <xs:enumeration value="https://purl.org/coar/resource_type/SB3Y-W4EH" />
    <xs:enumeration value="PCT application" />
    <xs:enumeration value="http://purl.org/coar/resource_type/C53B-JCY5" />
    <xs:enumeration value="https://purl.org/coar/resource_type/C53B-JCY5" />
    <xs:enumeration value="design patent" />
    <xs:enumeration value="http://purl.org/coar/resource_type/Z907-YMBB" />
    <xs:enumeration value="https://purl.org/coar/resource_type/Z907-YMBB" />
    <xs:enumeration value="plant patent" />
    <xs:enumeration value="http://purl.org/coar/resource_type/GPQ7-G5VE" />
    <xs:enumeration value="https://purl.org/coar/resource_type/GPQ7-G5VE" />
    <xs:enumeration value="plant variety protection" />
    <xs:enumeration value="http://purl.org/coar/resource_type/MW8G-3CR8" />
    <xs:enumeration value="https://purl.org/coar/resource_type/MW8G-3CR8" />
    <xs:enumeration value="software patent" />
    <xs:enumeration value="http://purl.org/coar/resource_type/9DKX-KSAF" />
    <xs:enumeration value="https://purl.org/coar/resource_type/9DKX-KSAF" />
    <xs:enumeration value="utility model" />
    <xs:enumeration value="http://purl.org/coar/resource_type/S7R1-K5P0" />
    <xs:enumeration value="https://purl.org/coar/resource_type/S7R1-K5P0" />
    <xs:enumeration value="physical sample" />
    <xs:enumeration value="http://purl.org/coar/resource_type/8KJG-QS0Y" />
    <xs:enumeration value="https://purl.org/coar/resource_type/8KJG-QS0Y" />
    <xs:enumeration value="research instrument" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_5ce6" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_5ce6" />
    <xs:enumeration value="software" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_c950" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_c950" />
    <xs:enumeration value="research software" />
    <xs:enumeration value="http://purl.org/coar/resource_type/QH80-2R4E" />
    <xs:enumeration value="https://purl.org/coar/resource_type/QH80-2R4E" />
    <xs:enumeration value="source code" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_18cc" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_18cc" />
    <xs:enumeration value="sound" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_18cd" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_18cd" />
    <xs:enumeration value="musical composition" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_18cf" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_18cf" />
    <xs:enumeration value="text" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_1162" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_1162" />
    <xs:enumeration value="annotation" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_86bc" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_86bc" />
    <xs:enumeration value="bibliography" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_6947" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_6947" />
    <xs:enumeration value="blog post" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_2f33" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_2f33" />
    <xs:enumeration value="book" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_3248" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_3248" />
    <xs:enumeration value="book part" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_c94f" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_c94f" />
    <xs:enumeration value="conference output" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_18cp" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_18cp" />
    <xs:enumeration value="conference paper not in proceedings" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_18co" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_18co" />
    <xs:enumeration value="conference poster not in proceedings" />
    <xs:enumeration value="http://purl.org/coar/resource_type/R60J-J5BD" />
    <xs:enumeration value="https://purl.org/coar/resource_type/R60J-J5BD" />
    <xs:enumeration value="conference presentation" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_f744" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_f744" />
    <xs:enumeration value="conference proceedings" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_5794" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_5794" />
    <xs:enumeration value="conference paper" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_6670" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_6670" />
    <xs:enumeration value="conference poster" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_0640" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_0640" />
    <xs:enumeration value="journal" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_b239" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_b239" />
    <xs:enumeration value="editorial" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_6501" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_6501" />
    <xs:enumeration value="journal article" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_7acd" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_7acd" />
    <xs:enumeration value="corrigendum" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_beb9" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_beb9" />
    <xs:enumeration value="data paper" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_2df8fbb1" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_2df8fbb1" />
    <xs:enumeration value="research article" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_dcae04bc" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_dcae04bc" />
    <xs:enumeration value="review article" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_7bab" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_7bab" />
    <xs:enumeration value="software paper" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_545b" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_545b" />
    <xs:enumeration value="letter to the editor" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_8544" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_8544" />
    <xs:enumeration value="lecture" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_0857" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_0857" />
    <xs:enumeration value="letter" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_2cd9" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_2cd9" />
    <xs:enumeration value="magazine" />
    <xs:enumeration value="http://purl.org/coar/resource_type/43KC-T6DC" />
    <xs:enumeration value="https://purl.org/coar/resource_type/43KC-T6DC" />
    <xs:enumeration value="magazine article" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_0040" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_0040" />
    <xs:enumeration value="manuscript" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_18cw" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_18cw" />
    <xs:enumeration value="musical notation" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_2fe3" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_2fe3" />
    <xs:enumeration value="newspaper" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_998f" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_998f" />
    <xs:enumeration value="newspaper article" />
    <xs:enumeration value="http://purl.org/coar/resource_type/QX5C-AR31" />
    <xs:enumeration value="https://purl.org/coar/resource_type/QX5C-AR31" />
    <xs:enumeration value="other periodical" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_816b" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_816b" />
    <xs:enumeration value="preprint" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_93fc" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_93fc" />
    <xs:enumeration value="report" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_7877" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_7877" />
    <xs:enumeration value="clinical study" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_ab20" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_ab20" />
    <xs:enumeration value="data management plan" />
    <xs:enumeration value="http://purl.org/coar/resource_type/DX5J-TA9R" />
    <xs:enumeration value="https://purl.org/coar/resource_type/DX5J-TA9R" />
    <xs:enumeration value="knowledge synthesis protocol" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_18wz" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_18wz" />
    <xs:enumeration value="memorandum" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_186u" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_186u" />
    <xs:enumeration value="policy report" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_18op" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_18op" />
    <xs:enumeration value="project deliverable" />
    <xs:enumeration value="http://purl.org/coar/resource_type/YZ1N-ZFT9" />
    <xs:enumeration value="https://purl.org/coar/resource_type/YZ1N-ZFT9" />
    <xs:enumeration value="research protocol" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_18ws" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_18ws" />
    <xs:enumeration value="research report" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_18gh" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_18gh" />
    <xs:enumeration value="technical report" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_baaf" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_baaf" />
    <xs:enumeration value="research proposal" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_efa0" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_efa0" />
    <xs:enumeration value="review" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_ba08" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_ba08" />
    <xs:enumeration value="book review" />
    <xs:enumeration value="http://purl.org/coar/resource_type/D97F-VB57" />
    <xs:enumeration value="https://purl.org/coar/resource_type/D97F-VB57" />
    <xs:enumeration value="commentary" />
    <xs:enumeration value="http://purl.org/coar/resource_type/H9BQ-739P" />
    <xs:enumeration value="https://purl.org/coar/resource_type/H9BQ-739P" />
    <xs:enumeration value="peer review" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_71bd" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_71bd" />
    <xs:enumeration value="technical documentation" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_46ec" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_46ec" />
    <xs:enumeration value="thesis" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_7a1f" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_7a1f" />
    <xs:enumeration value="bachelor thesis" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_db06" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_db06" />
    <xs:enumeration value="doctoral thesis" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_bdcc" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_bdcc" />
    <xs:enumeration value="master thesis" />
    <xs:enumeration value="http://purl.org/coar/resource_type/6NC7-GK9S" />
    <xs:enumeration value="https://purl.org/coar/resource_type/6NC7-GK9S" />
    <xs:enumeration value="transcription" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_8042" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_8042" />
    <xs:enumeration value="working paper" />
    <xs:enumeration value="http://purl.org/coar/resource_type/H6QP-SC1X" />
    <xs:enumeration value="https://purl.org/coar/resource_type/H6QP-SC1X" />
    <xs:enumeration value="trademark" />
    <xs:enumeration value="http://purl.org/coar/resource_type/c_393c" />
    <xs:enumeration value="https://purl.org/coar/resource_type/c_393c" />
    <xs:enumeration value="workflow" />
  </xs:restriction>
</xs:simpleType>

</xs:schema>
