doc/opencost_article.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://opencost.de"
xmlns="https://opencost.de"
elementFormDefault="qualified">

<xs:element name="publication">
  <xs:complexType>
    <xs:all>
      <xs:element name="identifiers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" minOccurs="1" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="type" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="institutions">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="institution" minOccurs="1" maxOccurs="unbounded">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="type" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="cartographic material" />
            <xs:enumeration value="map" />
            <xs:enumeration value="dataset" />
            <xs:enumeration value="aggregated data" />
            <xs:enumeration value="clinical trial data" />
            <xs:enumeration value="compiled data" />
            <xs:enumeration value="encoded data" />
            <xs:enumeration value="experimental data" />
            <xs:enumeration value="genomic data" />
            <xs:enumeration value="geospatial data" />
            <xs:enumeration value="laboratory notebook" />
            <xs:enumeration value="measurement and test data" />
            <xs:enumeration value="observational data" />
            <xs:enumeration value="recorded data" />
            <xs:enumeration value="simulation data" />
            <xs:enumeration value="survey data" />
            <xs:enumeration value="design" />
            <xs:enumeration value="industrial design" />
            <xs:enumeration value="layout design" />
            <xs:enumeration value="image" />
            <xs:enumeration value="moving image" />
            <xs:enumeration value="video" />
            <xs:enumeration value="still image" />
            <xs:enumeration value="interactive resource" />
            <xs:enumeration value="website" />
            <xs:enumeration value="learning object" />
            <xs:enumeration value="other" />
            <xs:enumeration value="patent" />
            <xs:enumeration value="PCT application" />
            <xs:enumeration value="design patent" />
            <xs:enumeration value="plant patent" />
            <xs:enumeration value="plant variety protection" />
            <xs:enumeration value="software patent" />
            <xs:enumeration value="utility model" />
            <xs:enumeration value="software" />
            <xs:enumeration value="research software" />
            <xs:enumeration value="source code" />
            <xs:enumeration value="sound" />
            <xs:enumeration value="musical composition" />
            <xs:enumeration value="text" />
            <xs:enumeration value="annotation" />
            <xs:enumeration value="bibliography" />
            <xs:enumeration value="blog post" />
            <xs:enumeration value="book" />
            <xs:enumeration value="book part" />
            <xs:enumeration value="conference output" />
            <xs:enumeration value="conference paper not in proceedings" />
            <xs:enumeration value="conference poster not in proceedings" />
            <xs:enumeration value="conference presentation" />
            <xs:enumeration value="conference proceedings" />
            <xs:enumeration value="conference paper" />
            <xs:enumeration value="conference poster" />
            <xs:enumeration value="journal" />
            <xs:enumeration value="editorial" />
            <xs:enumeration value="journal article" />
            <xs:enumeration value="corrigendum" />
            <xs:enumeration value="data paper" />
            <xs:enumeration value="research article" />
            <xs:enumeration value="review article" />
            <xs:enumeration value="software paper" />
            <xs:enumeration value="letter to the editor" />
            <xs:enumeration value="lecture" />
            <xs:enumeration value="letter" />
            <xs:enumeration value="magazine" />
            <xs:enumeration value="manuscript" />
            <xs:enumeration value="musical notation" />
            <xs:enumeration value="newspaper" />
            <xs:enumeration value="newspaper article" />
            <xs:enumeration value="other periodical" />
            <xs:enumeration value="preprint" />
            <xs:enumeration value="report" />
            <xs:enumeration value="clinical study" />
            <xs:enumeration value="data management plan" />
            <xs:enumeration value="memorandum" />
            <xs:enumeration value="policy report" />
            <xs:enumeration value="project deliverable" />
            <xs:enumeration value="research protocol" />
            <xs:enumeration value="research report" />
            <xs:enumeration value="technical report" />
            <xs:enumeration value="research proposal" />
            <xs:enumeration value="review" />
            <xs:enumeration value="book review" />
            <xs:enumeration value="commentary" />
            <xs:enumeration value="peer review" />
            <xs:enumeration value="technical documentation" />
            <xs:enumeration value="thesis" />
            <xs:enumeration value="bachelor thesis" />
            <xs:enumeration value="doctoral thesis" />
            <xs:enumeration value="master thesis" />
            <xs:enumeration value="transcription" />
            <xs:enumeration value="working paper" />
            <xs:enumeration value="trademark" />
            <xs:enumeration value="workflow" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="doi">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="oa_status">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="open" />
            <xs:enumeration value="closed" />
            <xs:enumeration value="hybrid" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="part_of_contract" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="type" type="xs:string" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="amounts_paid">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" minOccurs="1" maxOccurs="unbounded">
              <xs:complexType>
                <xs:all>
                  <xs:element name="amount_invoice" minOccurs="0">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:decimal">
                          <xs:attribute name="currency" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="[A-Z]{3}"/>
                              </xs:restriction>
                             </xs:simpleType>
                          </xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="invoice_number" type="xs:string" minOccurs="0"/>
                  <xs:element name="amounts_paid">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="amount_paid" minOccurs="1" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:simpleContent>
                              <xs:extension base="xs:decimal">
                                <xs:attribute name="currency" use="required">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="[A-Z]{3}"/>
                                    </xs:restriction>
                                   </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="type"  use="required">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                    <xs:enumeration value="apc" />
                                    <xs:enumeration value="vat" />
                                    <xs:enumeration value="colour charges" />
                                    <xs:enumeration value="cover" />
                                    <xs:enumeration value="hybrid-oa" />
                                    <xs:enumeration value="other" />
                                    <xs:enumeration value="page charges" />
                                    <xs:enumeration value="permission" />
                                    <xs:enumeration value="publication charges" />
                                    <xs:enumeration value="reprint" />
                                    <xs:enumeration value="submission fee" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                              </xs:extension>
                            </xs:simpleContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="date_paid">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{4}|[0-9]{4}-[0-9]{2}|[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="publisher" type="xs:string" minOccurs="0"/>
                </xs:all>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element> 
    </xs:all>
  </xs:complexType>
</xs:element>

</xs:schema>
